In [4]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd

In [3]:
raw_df = pd.read_csv("../data/raw/healthcare-dataset-stroke-data.csv")
raw_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

# 1. How many rows and columns does raw data have?

In [7]:
shape = raw_df.shape

In [8]:
# check
print(f"Current shape: {shape}")

Current shape: (5110, 12)

# 2. What does each line mean?

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #4E70BB; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="background-color: #4E70BB; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Attributes</th>
      <th style="background-color: #4E70BB; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">1</td>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">id</td>
      <td style="font-size: 14px; text-align: left;">unique identifier</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">2</td>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">gender</td>
      <td style="font-size: 14px; text-align: left;">gender of patient</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">3</td>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">age</td>
      <td style="font-size: 14px; text-align: left;">age of the patient</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">4</td>
      <td style="font-weight: bold; font-size: 14px; color: #FFAA33; text-align: left;">hypertension</td>
      <td style="font-size: 14px; text-align: left;">the status of high blood pressure</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">5</td>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">heart_disease</td>
      <td style="font-size: 14px; text-align: left;">the status of heart disease</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">6</td>
      <td style="font-weight: bold; font-size: 14px; color: #009A80; text-align: left;">ever_married</td>
      <td style="font-size: 14px; text-align: left;">the status of marriage</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #660099; text-align: left;">7</td>
      <td style="font-weight: bold; font-size: 14px; color: #660099; text-align: left;">work_type</td>
      <td style="font-size: 14px; text-align: left;">work status</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">8</td>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">Residence_type</td>
      <td style="font-size: 14px; text-align: left;">current living: rural or urban</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">9</td>
      <td style="font-weight: bold; font-size: 14px; color: #0000FF; text-align: left;">avg_glucose_level</td>
      <td style="font-size: 14px; text-align: left;">average glucose level in blood</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">10</td>
      <td style="font-weight: bold; font-size: 14px; color: #FF0077; text-align: left;">bmi</td>
      <td style="font-size: 14px; text-align: left;">body mass index</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">11</td>
      <td style="font-weight: bold; font-size: 14px; color: #3850A0; text-align: left;">smoking_status</td>
      <td style="font-size: 14px; text-align: left;">smoking status</td>
    </tr>
    <tr>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">12</td>
      <td style="font-weight: bold; font-size: 14px; color: #8C001A; text-align: left;">stroke</td>
      <td style="font-size: 14px; text-align: left;">stroke or not stroke</td>
    </tr>
  </tbody>
</table>